@font-face{
font-family: "brom";
src:url(../font/bromello.ttf);
}
body{
  background-image: url("../img/tableauPlat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40px -190px;
}
.contenu{
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 3em;
  margin-top: 450px;
}
